*{  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}
header {
    padding-top: 10px;
    background-color: #001232;
    position: fixed;
    width: 100%;
    top:0;
    font-size: 1.2rem;
    font-weight:bold;
    display: flex;

}

.col20{
    width:20%;
}
.col80{
    width: 80%;
    justify-content: center;
}

.btnjoin {
    padding: 15px 35px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(to right, #f24551 0%, #348AC7 51%, #5560ff 100%);
    border-radius: 30px;

}

header ul {
    justify-content: center;
}

.logo{
    text-align: center;
}
span{
    color: #fff;
}
footer{
    width: 100%;
    bottom:0;
    position: static;
    background: #0a1e5e;
    /* background-color: #fff; */
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight:400;
    display: flexbox;
    padding-bottom: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
p {
    text-align: center;
    top: 50%; 
}

.container .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
p, li {
    color: #fff;
    list-style-type: none;
}
ul {
    display: flex;
    padding: auto;
}
li{
    align-items: center;
    margin:10px;
    padding:0;
}
div > p > a {
    color: #1cc8a5
}
ul > li > a , p > a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.container .box .ul-social >li{
    height:50px;
    width:50px;
    background-color: #563d7c;
    text-align: center;
    line-height:50px;
    font-size: 1.5rem;
    border-radius:20px ;
    transition:0.3s;
}
.container .box .ul-social >li:hover{
    background-color:#1cc8a5;
    color: #111
}
.title{
    margin-top:40px;
    top: 20%;
}