* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #001232;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 90px;
    background: linear-gradient(
        90deg,
        rgba(10, 86, 120, 1) 9%,
        rgba(9, 58, 121, 1) 21%,
        rgba(117, 5, 181, 1) 64%,
        rgba(118, 34, 128, 1) 83%,
        rgba(50, 14, 101, 1) 99%
    );
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-list {
    /* bỏ chấm */
    margin-left: 10%;
    position: relative;
}

.logo {
    padding: 0;
    margin-top: 10px;
    margin-left: 100px;
    text-align: center;
}

.header__nav-item {
    margin: 0 10px;
}
.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.3rem;
    text-decoration: none;
    /* bỏ gạch chân */
    font-weight: 600;
    color: #fff;
}
.header__nav-item:hover,
.header__nav-item-link:hover {
    color: #bcdbff;
}

.sub__nav--content {
    font-size: 1.15rem;
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    font-weight: 300;
    border-radius: 15px;
    padding: 15px 100px 15px 25px;
    transition: 1ms;
    letter-spacing: 0.1rem;
}
.sub__nav--link {
    padding: 15px 0;
}
.sub__nav--link:hover {
    color: #f45343;
    font-size: 2rem;
    margin-left: 10px;
}
a {
    text-decoration: none;
}
.header__nav-item:hover .sub__nav--content {
    display: block;
}
.fa-caret-down {
    font-size: 2rem;
    color: #111111;
    margin-left: 30%;
}

.col20 {
    width: 20%;
    justify-self: center;
}
.col80 {
    width: 80%;
}

.col30 {
    width: 30%;
}

.col50 {
    width: 50%;
}

.content__about {
    display: flex;
    margin: 10px 0;
    margin-left: 10%;
}

h1 {
    height: 350px;
    padding-top: 100px;
    font-size: 3rem;
    color: #fff;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    background: linear-gradient(
        90deg,
        rgba(10, 86, 120, 1) 9%,
        rgba(9, 58, 121, 1) 21%,
        rgba(117, 5, 181, 1) 64%,
        rgba(118, 34, 128, 1) 83%,
        rgba(50, 14, 101, 1) 99%
    );
}

p,
h3,
h4,
h2 {
    color: #fff;
}

p {
    margin: 40px 0;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 250;
    color: #31d7a9;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.8rem;
    font-weight: 300;
}
.content__text {
    margin-top: 100px;
    font-size: 1.5rem;
}

.content__text2 {
    background-color: #001232;
    margin-left: 55%;
    margin-bottom: 10%;
}

.content__text2-item {
    margin: 20px 0;
    font-weight: 300;
    list-style: none;
}
.content__text3 {
    margin: 0 5%;
    margin-bottom: 10%;
    display: flex;
}
.content__text3 > ul > li {
    color: #fff;
    list-style: none;
    margin: 0 30px;
    padding: 0 20px;
    text-align: center;
    justify-items: center;
}

.content__text3 > ul > li > ul {
    padding: 0 20px;
    margin-top: 10px;
    color: #31d7a9;
    font-size: 1.1rem;
}

.content__text3 > ul {
    display: flex;
}
.subcontent__text3 {
    width: 100%;
}

.content__text4 {
    margin-left: 10%;
    background-color: #f24551;
    height: 900px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.content__text4 > div > p {
    text-align: center;
    width: 70%;
}
.text4picture {
    height: 150px;
}
.header__nav-item--btnjoin {
    margin-left: 80px;
    padding: 15px 35px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
    background: linear-gradient(to right, #f24551 0%, #348ac7 51%, #5560ff 100%);
    border-radius: 30px;
}

.footer__content {
    width: 100%;
    bottom: 0;
    position: static;
    background: rgb(165, 153, 153);
    /* background-color: #fff; */
    letter-spacing: 0.1rem;
    font-size: 1rem;
    display: flexbox;
}
.footer__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.footer__content-box > div > p {
    margin-left: 40px;
}
.footer__list {
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
}
.footer__item {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 520;
    color: #fff;
}
.footer__link {
    text-decoration: none;
    margin: 0 15px;
}
.fab {
    font-size: 1.7rem;
}
hr {
    margin: 0 40px;
}

.ul-social > li {
    height: 50px;
    width: 60px;
    background-color: #e49ade;
    line-height: 60px;
    border-radius: 20px;
    transition: 0.3s;
    margin: 0 10px;
}
.ul-social > li:hover {
    background-color: #b94b67;
    color: #111;
}
