*{  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
span{
    color: #fff;
}
footer{
    position: fixed;
    width: 100%;
    bottom:0px;
    background: #0a1e5e;
    /* background-color: #fff; */
    letter-spacing: 0.2em;
    font-size: 0.8em;
    display: flexbox;
    padding-bottom: 10px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
p {
    text-align: center;
    top: 50%; 
}

.container .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
p, li {
    color: #fff;
    list-style-type: none;
}
ul {
    display: flex;
}
li{
    align-items: center;
    margin:10px;
}
div > p > a {
    color: #1cc8a5
}
ul > li > a , p > a{
    text-decoration: none;
    color: white;
    align-items: center;
}

.container .box .ul-social >li{
    height:50px;
    width:50px;
    background-color: #563d7c;
    text-align: center;
    line-height:50px;
    font-size: 1.5rem;
    border-radius:20px ;
    transition:0.3s;
}
.container .box .ul-social >li:hover{
    background-color:#1cc8a5;
    color: #111
}
